<div class='hero-container'>
    <div class='protfolio-container' style="background-image: url(<%=randPerson.portfolio%>);">
      <div class='protfolio-container_glitch' style="background-image: url(<%=randPerson.portfolio%>);"></div>
      <div class='protfolio-container_glitch' style="background-image: url(<%=randPerson.portfolio%>);"> </div>     
      <div class='protfolio-container_glitch' style="background-image: url(<%=randPerson.portfolio%>);"></div>
      <div class='protfolio-container_glitch' style="background-image: url(<%=randPerson.portfolio%>);"> </div>  
      <div class='protfolio-container_glitch' style="background-image: url(<%=randPerson.portfolio%>);"> </div> 
    </div>
</div>

<div class="titles">
  <a class="join-us" href="https://docs.google.com/forms/d/1gcB8yOG0JRuEt0vwqo2-xP5w03_PIu11AbIqNXi_hZ8/" >JOIN US</a> 
</div>

<div class='madeBy-div'>
  <p class='made-by'> image: 
      <a class='made-by' href="<%=randPerson.site %>" target="_blank"><%=randPerson.name %></a>
  </p> 
</div>

