<div class='all-events' id='news'>
  <a  class='suggestEvent' href="https://docs.google.com/forms/d/1VDI1KRrtnyW1KQEEN1zJNdkcHzHvtT1_rtQZ-TDiTLc" target="_blank"> <strong> + </strong>suggest an event</a>
  
  <% for (let event of events.slice(0,6)){%> 
    <div class='event-list'>
    <div class="event-inner">
    <h3 class='eventDate'> <%=event.date %> </h3>
    <h3 class="eventTitle"><%= event.title %>｡</h3>
    <p class ="totalTime"> Duration: <%= event.totalTime %></p>
    <p class='evenInfo'><%=event.description %></p>
    <p class='evenInfo links'> Find more information in the
    <a class='eventLink' href="<%= event.link %>" target="_blank"> Link of the event </a> or
    contact <a class='eventLink' href="<%=event.email %>" target="_blank"> <%=event.name %> </a> </p>
    </div>
  </div>
    <%}%>
    
  <div class="hiddenEvent">
  <% for (let event of events.slice(10,50)){%> 
    <div class='event-list'>
    <div class="event-inner">
    <h3 class='eventDate'> <%=event.date %> </h3>
    <h3 class="eventTitle"><%= event.title %>｡</h3>
    <p class ="totalTime"> Duration: <%= event.totalTime %></p>
    <p class='evenInfo'><%=event.description %></p>
    <p class='evenInfo links'> Find more information in the
    <a class='eventLink' href="<%= event.link %>" target="_blank"> Link of the event </a> or
    contact <a class='eventLink' href="<%=event.email %>" target="_blank"> <%=event.name %> </a> </p>
    </div>
  </div>
    <%}%>
  </div>
  <button class="showMore" >Show more events...</button>

</div>
