<div >
  <h1 class='member-list' id='members'></h1>
  <div class='all-members'>
      <%for (let person of randData){%> 
      <div class='member-div'>
        <div class='creator-container'>
          <a href="<%=person.site %>" target="_blank"><img class='creator-img' src="data:image/png;base64, <%=person.headshot%>" alt='creator-img'></a>
            <h2 class='creator-name'><%=person.name %></h2> 
            <div class='person-footer'> 
              <div class='links'>
                  <a href="mailto:<%=person.email %>" target="_blank"><img class='email' src="https://img.icons8.com/ios/50/000000/email-open.png"/></a>
                  <a href="<%=person.site %>" target="_blank"><img class='website' src="https://img.icons8.com/ios/50/000000/domain.png"/></a>
                  <a href="<%=person.linkedin%>" target="_blank"><img class='social' src="https://img.icons8.com/ios/50/000000/linkedin.png"/></a>
              </div>
              </div>
            <div class='bio'>
              <p class='creator-bio'><%= person.bio %></p>     
          </div>
        </div>
      </div>
      <%}%>
  </div>
</div>
        
